.chat-window {
    min-width: 400px;
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 0px 0px 1000px 20px var(--modal-shadow);
    border: 1px solid var(--modal-border);
}

.chat-window:hover {
  filter: drop-shadow(5px 5px 0px var(--filter-shadow-color));
}

.messages-list {
    flex: 1 0;
    flex-direction: column-reverse;
    display: flex;
    border-bottom: 1px solid var(--modal-border);
    overflow-y: auto;
    z-index: 1;
    padding: 10px 5px;
}

.messages-list::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  background-color: transparent;
  margin: 2px;
}

.messages-list::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

.message-entry {
    display: flex;
}

.message-entry .info {
    margin: 5px auto;
    color: #999;
    font-size: 0.8em;
}

.message-item {
    padding: 10px;
    margin: 5px 0px;
    display: inline;
    width: fit-content;
    overflow-wrap: anywhere;
    border-radius: 8px;
    z-index: -1;
    max-width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
}

.message-item.received {
    background-color: var(--message-received-bg);
    color: var(--message-received-fg);
    border-top-left-radius: 0px;
}

.message-item.sent {
    border-top-right-radius: 0px;
    background-color: var(--message-sent-bg);
    color: var(--message-sent-fg);
    margin-left: auto;
}

.message-bar {
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.message-bar input[type='text'] {
    background-color: transparent;
    color: var(--message-bar-fg);
    flex: 1 0;
    padding: 15px;
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 8px;
}

.message-bar input[type='text']:focus {
    background-color: var(--message-bar-focus-bg);
}
